<app-menu
  [ingredients]="[
  {
    label: 'Patty',
    allowMultiple: 1,
    items: [
      { name: 'Angus Beef Patty', price: 35, id: 'xd', image: 'assets/angus-beef-patty.jpg' },
      { name: 'Premium Patty', price: 40, id: 'xp', image: 'assets/Premiumbeefpatty56762344.jpg' },
      { name: 'Salmon Patty', price: 25, id: 'rx', image: 'assets/salmon-patties-delish-1.jpg' },
      { name: 'Turkey Patty', price: 30, id: 'cx', image: 'assets/easyturkey.jpg' }
    ]
  },
  {
    label: 'Cheese',
    allowMultiple: 1,
    items: [
      { name: 'Cheddar', price: 20, id: 'kv', image: 'assets/cheesy-burger-2.jpg' },
      { name: 'Swiss', price: 40, id: 'qv', image: 'assets/Mushroom-Swiss-Burger-SQ.jpg' },
      { name: 'Blue', price: 35, id: 'ov', image: 'assets/blue-cheese-sauce.jpg' },
      { name: 'American', price: 25, id: 'mv', image: 'assets/salisbury-steak-burger-2.jpg' }
    ]
  },
  {
    label: 'Toppings',
    allowMultiple: 1,
    items: [
      { name: 'Sauerkraut', price: 10, id: 'tv', image: 'assets/homemade-german-sauerkraut.jpg' },
      { name: 'Caramelized onions', price: 15, id: 'ov', image: 'assets/easy-caramelized-onions-close-up-vegan.jpg' },
      { name: 'Fried Pickles', price: 20, id: 'lv', image: 'assets/oven-fried-pickles-horizontal.jpg' },
      { name: 'Bacon', price: 30, id: 'lv', image: 'assets/baked-bacon-Lead-1.jpg' }
    ]
  },
  {
    label: 'Buns',
    allowMultiple: 1,
    items: [
      { name: 'Diet Bun', price: 10, id: 'io', image: 'assets/burgerbun.jpg' },
      { name: 'Regular Bun', price: 5, id: 'oz', image: 'assets/buttery-brioche-buns.jpg' }
    ]
  }]"
></app-menu>
